---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {% if page.author %} • {{ page.author }}{% endif %}
    {% if page.summary %} <blockquote>Résumé : {{ page.summary }}</blockquote> {% endif %}
    {% if page.featured-image %}{% include post-featured-image.html image=page.featured-image alt=page.featured-image-alt source=page.featured-source %}{% endif %}
  </header>

  <article class="post-content">
      {% include toc.html html=content %}

      {{ content }}
  </article>

</div>
